/*ELEMENTI PRINCIPALI*/
body {
background-color: #ffffff;
font-family:  Gabarito, Helvetica, Arial, Verdana, Tahoma, sans-serif;
font-size: 20px;
overflow-x: hidden;
width: fit-content;
}

a:link, a:visited {
color: rgb(255, 255, 255);
text-decoration: none; /*eliminazione della sottolineatura*/
}

a:hover, a:active{
color: rgb(255, 255, 255);
text-decoration: underline;
transition: 1s;
}

/*banner*/
.banner {
background-color: #e84616;
display: flex;
max-width: 100vw;
justify-content: space-between;
gap: 5%;
padding: 1% 5%;
}

.logo {
object-position: center;
object-fit: contain; 
width: 59px; 
max-width: 100%;
margin: auto 0;
}

.collegamenti {
align-self: center;
display: flex;
justify-content: center;
gap: 25%;
}

.bilancia {
color: #fff;
text-align: center;
white-space: wrap;
font: 500 20px/30px Gabarito, sans-serif;
}

.contest {
color: #fff;
text-align: center;
font: 500 20px/30px Gabarito, sans-serif;
}

.blog {
color: #fff;
text-align: center;
font: 500 20px/30px Gabarito, sans-serif;
}
.oltre {
color: #fff;
text-align: center;
font: 500 20px/30px Gabarito, sans-serif;
}
.contatti {
color: #fff;
text-align: center;
white-space: nowrap;
font: 500 20px/30px Gabarito, sans-serif;
}

.bottoni {
object-position: right;
display: flex;
justify-content: space-between;
gap: 30px;
margin: auto 0;
}

.but1_areapersonale {
background-image: url(images/cerca-01-01.png);
background-color: #e84616;
border: 1px #e84616;
outline: none;
justify-content: space-between;
display: flex;
gap: 20px;
margin: auto 0;
width: 40px;
height: 40px;
cursor: pointer;
}

/*TITOLO*/
.main-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  padding: 5% 8%;
  max-height: 90vh;
  background-image: url(images/04_blog_articolo1.jpg);
  background-size: 100%, 100%;
  background-repeat: no-repeat;
}

.article-container {
  position: relative;
  border-radius: 15px;
  background-color: #ccd735;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  margin-top: 25%;
  margin-bottom: 10%;
  padding: 50px 0 28px;
}

.article-title {
  color: #e84616;
  text-align: center;
  align-self: center;
  margin-top: 6px;
  max-width: 80%;
  font: 800 58px/64px Gabarito, sans-serif;
}

.article-image {
  aspect-ratio: 228;
  object-fit: contain;
  object-position: center;
  width: 1368px;
  stroke-width: 5px;
  stroke: #266b2f;
  overflow: hidden;
  align-self: center;
  margin-top: 40px;
}

.article-info {
  display: flex;
  margin-top: 31px;
  padding-right: 53px;
  padding-left: 53px;
  justify-content: space-between;
  gap: 20px;
}

.article-number {
  color: #266b2f;
  text-align: center;
  white-space: nowrap;
  border-radius: 50px;
  border: 2px solid #266b2f;
  background-color: rgba(38, 107, 47, 0);
  aspect-ratio: 2;
  justify-content: center;
  padding: 14px 26px;
  font: 600 15px/18px Gabarito, sans-serif;
}

.article-date {
  color: #266b2f;
  text-align: center;
  align-self: center;
  flex-grow: 1;
  flex-basis: auto;
  margin: auto 0;
  font: 500 24px/29px Gabarito, sans-serif;
}

.article-icon {
  aspect-ratio: 1.07;
  object-fit: contain;
  object-position: center;
  width: 32px;
  stroke-width: 3px;
  stroke: #266b2f;
  overflow: hidden;
  align-self: center;
  max-width: 100%;
  margin: auto 0;
}

.div {
    color: #266B2F;
    font: 300 25px/30px Gabarito, sans-serif;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 5%;
    margin-top: 5%;
    line-height: 1.4;
}

ul {
    margin-left: 3%;
}



/*footer*/
.footer {
  background-color: rgb(232, 70, 22);
  display: flex;
  max-width: 100vw;
  flex-direction: column;
  padding: 2% 5%;
  }
  
  .cookies {
  display: flex;
  color: #fff;
  white-space: nowrap;
  font: 500 20px/30px Gabarito, sans-serif;
  }
  
  .privacy_policy {
  display: flex; 
  color: #fff;
  margin-top: 1%;
  white-space: nowrap;
  font: 500 20px/30px Gabarito, sans-serif;
  }
  
  .condizioni {
  display: flex;
  color: #fff;
  margin-top: 1%;
  font: 500 20px/30px Gabarito, sans-serif;
  justify-content: space-between;
  }